.container {
    display: grid;
    grid-template-rows: repeat(3, auto); 
    width: 80%;
    margin: 0 auto;
}
body{
    font-family:'Share Tech', sans-serif;
    color:midnightblue;
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 15pc;
    margin-right: 15pc;
    transition: width 0.3s;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    
}

h1{
    text-shadow: 5px 3px 3px #0c91ba;
}

.iframeContainer {
    max-width: 100vw;
    overflow: hidden;
    border: none;
}

iframe {
    width:100vw;
    height: 100vw;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


.sidebar {
    height: 100pc;
    width: 20pc;
    position:fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e);
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a i {
    margin-right: 10px;
}

#contact-info, #human-test, #recruiter-msg, #general-human-msg, #human-vcard, #vcard {
    display: none;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 15pc;
    }
    body {
        margin-left: 13pc;
        margin-right: 13pc;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 10pc;
    }
    body {
        margin-left: 10pc;
        margin-right: 10pc;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 8pc;
    }
    body {
        margin-left: 8pc;
        margin-right: 8pc;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        text-align: center;
        float: none;
    }
    body {
        margin: 0;
    }
}